.FooterLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5rem;
  &H3 {
    margin-bottom: 2rem;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .FooterLinks {
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
  }
}
