@import '../colors';

.Input {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  width: 80%;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.Wrong {
  border: 3px solid $Red !important;
}

@media only screen and (max-width: 768px) {
  .Input {
    width: auto;
    margin-bottom: 3rem;
  }
}
